/* You can add global styles to this file, and also import other style files */
.pointer {
    cursor: pointer;
}
.w100 {
    width: 100px;
}
.w-150 {
    width: 150px;
}
.avatar {
    width: 40px;
    border-radius: 100%;
}